[data-react-root] {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

header {
  background: #1385e5;
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.app-nav--primary,
.app-nav--primary > li {
  float: none;
}

.app-nav--right {
  float: none;
  position: fixed;
  left: 0;
  bottom: 0;
}

.primary-navbar {
  padding-top: 0;
}

.primary-navbar > div {
  padding: 0;
}

.primary-navbar__link {
  padding: 1.5em;
  font-size: 1.2em;
}

.primary-navbar__item--active .primary-navbar__link {
  border-radius: 0;
}

.primary-navbar__item::before {
  display: none;
}

.app-nav--right .primary-navbar__link {
  padding: 0.75em 1.5em;
}

.secondary-navbar {
  position: fixed;
  top: 0;
  left: 250px;
  width: 800%;
  text-align: left;
  z-index: 9999;
}

.secondary-navbar > div {
  max-width: 100% !important;
}

.secondary-navbar li:first-child > a {
  margin-right: 0;
  padding: 0.75em 1em;
}

.primary-navbar__brand {
  background: #2b2222;
}

.primary-navbar__brand .primary-navbar__link {
  padding: 1.5em;
}

.keystone-footer {
  display: none;
}

main {
  margin-left: 250px;
  margin-top: 50px;
}

main > div,
main > div > div,
main > div > div > div {
  max-width: 100% !important;
}

.dashboard-header {
  margin-top: -40px !important;
}

.octicon-home {
  font-size: 22px;
}

.octicon-home:after {
  content: ' DASHBOARD';
}

.field-size-small {
  width: 40%;
}
.field-size-medium {
  width: 60%;
}
.field-size-large {
  width: 80%;
}
